*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 80px;

    height:70px;
    color: black;
    align-items: center;
    font-size:14px;


    box-shadow: rgba(17, 17, 26, 0.3) 0px 1px 0px;




    padding-right: 20px;
}
/* nav h1:first-child{
    margin: auto;
} */
.h{
    margin: 0;
    padding-right: 300px;
    font-size: 25px;

}
nav h1{
    cursor: pointer;

}
button{
    background-color: green;
    border: none;
    padding: 14px;
    color:white;
    cursor: pointer;


}
button:hover{
    background-color: red;
    color:white;
    padding: 14x;
}

h2{
    color: red;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
.one p{
    font-style: italic;
}

.two h3{
    border: 2px dotted black;
    text-align: center;

}


h1:hover{
    background-color: green;
    color: white;
    padding: 12px;
}


/* header */
.one{
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
}

.two{
    border: 5px solid red;
    margin: 15px;
    padding: 10px;
    text-align: justify;  
    box-shadow: 10px 10px 10px blueviolet;


    width: 290px;
    height: 290px;

    /* overflow:hidden; */
    overflow: scroll;


}

header{
    display: flex;
    justify-content: center;
}

footer{
    background-color: red;
    color: white;
    margin: 10px 10px 10px 10px;
    box-shadow: 10px 10px 20px blueviolet;
    height: 50px;


    text-align: center;
    padding-top: 9px;



}